window{
    background: #000000;
}

.button1{
    background: #000000;
    color: #ffffff;
    font-size: 25pt;
    border-right: none;
    border-left: none;
    border-top: none;
    border-width: 3px;
}
.button2{
    background: #000000;
    color: #ffffff;
    font-size: 25pt;
    border-right: none;
    border-top: none;
    border-width: 3px;
}
.button3{
    background: #000000;
    color: #ffffff;
    font-size: 25pt;
    border: none;

}
.button4{
    background: #000000;
    color: #ffffff;
    font-size: 25pt;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-width: 3px;
}

.setting_grid{
    margin-bottom: 50px;
}

.start_btn{
    padding:7px 20px;
    font-size: large;
    font-weight:600;
    letter-spacing:1.5px;
    line-height:17px;
    background:#000000;
    color:rgb(255, 255, 255);
    border:4px solid;
    border-color:rgb(255, 255, 255);

}

.quit_btn{
    padding:7px 20px;
    font-size: large;
    font-weight:600;
    letter-spacing:1.5px;
    line-height:17px;
    background:#000000;
    color:rgb(255, 255, 255);
    border:4px solid;
    border-color:rgb(255, 255, 255);
}

.headerlabel{
    color: rgb(255, 255, 255);
    font-size:xx-large;
    font: weight 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.xo{
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
}